<div id="block-text" class="block">
  <div class="content-fluid">
    <h2 class="title">Home</h1>

      <div class="inner">
        <span>
          <p style="font-size: 16px;"><%= current_user.username %>, bem vindo ao Gerenciador de Conteudo do Ricardo Express.</p>
        </br> 
        <p style="font-size: 14px;">Aqui você poderá acessar os seguintes ítens do menu:</p>
      </br> 
      <% if current_user.roles.first.name == "Administrador"  %>
      <ul style="margin-left: 25px;">
        <li><b>Home:</b> Aparecerá as informações e o que é permitido você realizar no sistema.</li>
        <li><b>Clientes:</b> Criar, editar, excluir e listar todos os clientes inseridos no sistema.</li>
        <li><b>Contatos:</b> Criar, editar, excluir e listar todos os contatos do sistema e os que forão inserios através do site.</li>
        <li><b>Empresas:</b> Criar, editar, excluir as informações da sua empresa. As mesmas estarão disponiveis no site.</li>
        <li><b>Slides:</b> Criar, editar, excluir e listar todos as imagens que aparecerão no site e seus respectivos backgrounds.</li>
        <li><b>Serviços:</b> Criar, editar, excluir e listar todos os Serviços e suas dependencias (Tipo de serviços e Rotas)</li>
        <li><b>Usuários:</b> Criar, editar, excluir e listar todos os usuários e seus respectivos acessos ao sistema.</li>        
      </ul>
      <% elsif current_user.roles.first.name == "Editor" %>
      <ul style="margin-left: 25px;">
        <li><b>Home:</b> Aparecerá as informações e o que é permitido você realizar no sistema.</li>
        <li><b>Contatos:</b> Criar, editar, excluir e listar todos os contatos do sistema e os que forão inserios através do site.</li>
        <li><b>Serviços:</b> Criar, editar, excluir e listar todos os Serviços e suas dependencias (Tipo de serviços e Rotas)</li>
      </ul>
      <% else %>
        <li><b>Super:</b> Seu acesso é de super.</li>
      <% end %>  
    </span>
  </div>
</div>
</div>