#login-wrapper #login-content .notification {
  border: 0;
  background-color: #141414;
  color: #fff !important;
}

body#login {
  color: #fff;
  background: #222;
}

#login-wrapper #login-top {
  width: 100%;
  padding: 60px 0 20px 0;
  text-align: center !important;
}

#login-wrapper #login-content {
  text-align: left;
  width: 300px;
  margin: 0 auto;
}

#login-wrapper #login-content label {
  color: #fff;
  float: left;
  width: 70px;
}

#login-wrapper #login-content input {
  width: 200px;
  float: right;

  border: 0;
  background: #fff;
  padding-top: 10px;
}

#login-wrapper #login-content p {
  padding-bottom: 15px;
  padding-top: 5px;
}

#login-wrapper #login-content p#remember-password {
  float: right;
}

#login-wrapper #login-content p#remember-password input {
  float: none;
  width: auto;
  border: 0;
  background: none;
}


.error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    background-repeat: no-repeat;
    background-position: 10px center;
    margin: 10px 295px 18px 110px;
    padding: 5px;
}


.error {
    color: #D8000C;
    background-color: #FFBABA;
}