<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Ricardo Express,</h1>
    <p>O usuário <strong><%= @user.username %> </strong> foi criado.</p>
    <p>Seja bem vindo.</p>    
  </body>
</html>