<div id="service_2">
    <div class="caixa">
                <% empresa = About.first %>
                <% titulo = empresa.title %>
                <% conteudo = empresa.description %>
        <div class="row perk">
            <div class="span2 circle circle1">
                <img src="img/service_ico1.png" alt="">
            </div>
            <div class="span10 description_wrapper">
                <h5><%= titulo %></h5>
                <p><%= raw(conteudo) %></p>
            </div>
        </div>
    </div>
</div>